@{
    HttpContextAccessor httpContextAccessor = new();
    bool isAuthenticated = httpContextAccessor.HttpContext!.User.Claims.Any();
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] CRM</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>

<body>
@if (isAuthenticated)
{
    <div class="sidebar">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <i class="bi bi-house-door"></i> Ana Sayfa
        </a>
        <a asp-area="" asp-controller="customers" asp-action="Index">
            <i class="bi bi-people"></i> Müşteri Yönetimi
        </a>
        <a asp-area="" asp-controller="products" asp-action="Index">
            <i class="bi bi-box"></i> Ürün Yönetimi
        </a>
        <a href="#"><i class="bi bi-cart"></i> Satış Yönetimi</a>
        <a href="#"><i class="bi bi-bar-chart"></i> Raporlar</a>
        <a href="#"><i class="bi bi-file-earmark-text"></i> Teklif ve Fatura Yönetimi</a>
        <a href="#"><i class="bi bi-person"></i> Kullanıcı ve Rol Yönetimi</a>
    </div>
}

<div class="content">
    <header>
        <nav style="margin-left: 100px;"
             class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CRM</a>
            </div>
            <div class="d-flex">
                @if (isAuthenticated)
                {
                    <a class="btn btn-outline-dark mx-1" asp-area="" asp-controller="Auth" asp-action="Logout">
                        <i class="bi bi-box-arrow-right mx-1"> </i> <span>Çıkış</span>
                    </a>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted mt-5" style="margin-left: 100px;">
        <div class="container-fluid">
            &copy; 2024 • Sibel Öztürk
        </div>
    </footer>
        
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>


</html>