<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
        .container{
            padding: 30px;
            width: 580px;
            .row{
                .card{
                    padding: 40px;
                    box-shadow: 0 0 10px 5px rgba(173, 173, 237, 0.49);
                    border-radius: 10px;
                    /*border:  20px solid  rgba(68, 46, 87, 0.49);*/
                    h5{
                        font-family: Arial, sans-serif;

                    }
                    .button_container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        button{
                            background-color: rgba(68, 46, 87, 0.49);
                            color: white;
                        }
                        button:focus{
                            box-shadow: 0 0 10px 5px rgba(173, 173, 237, 0.49);
                        }
                    }
                    input{
                        box-shadow: none;
                        border:  2px solid  rgba(68, 46, 87, 0.49);
                    }
                    input:focus{
                        box-shadow: 0 0 10px 5px rgba(173, 173, 237, 0.49);
                    }

                }
            }
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <main class="card col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5 main-content">
            <div>
                <div>
                    <div>
                        <div>
                            <h5 style="text-align: center;">Yeni Ürün Ekle</h5>
                        </div>
                        <div>
                            <form asp-controller="Products" asp-action="CreateProduct" method="post" autocomplete="off">
                                <div class="mb-3">
                                    <label for="nameInput" class="form-label">Ürün Adı</label>
                                    <input type="text" class="form-control" id="nameInput" name="Name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="priceInput" class="form-label">Fiyat</label>
                                    <input type="text" class="form-control" id="priceInput" name="Price" required>
                                </div>
                                <div class="mb-3">
                                    <label for="quantityInput" class="form-label">Adet</label>
                                    <input type="number" class="form-control" id="quantityInput" name="Quantity" required>
                                </div>
                                <div class="mb-3">
                                    <label for="descriptionInput" class="form-label">Açıklama</label>
                                    <input type="text" class="form-control" id="descriptionInput" name="Description"
                                           required>
                                </div>
                                <div class="button_container">
                                    <button type="submit" class="btn">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>

</html>