

@{
    Layout = null;
    var userNameOrEmail = TempData["UserNameOrEmail"];
    var password = TempData["Password"];

    HttpContextAccessor httpContextAccessor = new();
    bool isAuthenticated = httpContextAccessor.HttpContext!.User.Claims.Any();
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Giriş & Kayıt</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/login.css" />
</head>

<body>
  @if (!isAuthenticated)
  {
    <div class="container">
      <div class="box p-4 mx-auto">
        <!-- Login Form -->
        <form class="form-floating p-4" asp-controller="Auth" asp-action="Login" method="post" autocomplete="off" id="loginForm">

          <div class="text-center mt-2">
            <h4 class="mb-4">Giriş</h4>
          </div>
          <div class="form-floating mb-4">
            <input type="text" id="username" name="UserNameOrEmail" value="@userNameOrEmail" class="form-control mt-1" required>
            <label for="UserNameOrEmail">Kullanıcı Adı veya E-posta</label>
          </div>

          <div class="form-floating mb-4">
            <input type="password" id="password" name="Password" value="@password" class="form-control" required>
            <label for="Password">Şifre</label>
          </div>

          <div class="button">
            <button class="edit1 btn btn-lg " type="submit">Giriş Yap</button>
            <span class="text-danger">@TempData["Error"]</span>
          </div>
          <div class="form-group register-link button">
            <span class="text-center"> Hesabınız yok mu? </span>
            <a class="edit btn" href="#registerForm">Kayıt</a>
          </div>
        </form>
        
      <!-- Register Form -->
      <form class="form-floating p-2" id="registerForm" style="display:none">
        <div class="text-center">
            <h4> Kayıt</h4>
          </div>
        <div class="form-floating mb-4">
            <input type="text" id="fullname" name="fullname" class="form-control" required>
            <label for="fullname">Ad Soyad:</label>
          </div>
          <div class="form-floating mb-4">
            <input type="email" id="email" name="email" class="form-control"  required>
            <label for="email">E-posta:</label>
          </div>

          <div class="form-floating mb-4">
            <input type="password" id="register_password" name="register_password" class="form-control" required>
            <label for="register_password">Şifre:</label>
          </div>

          <div class="form-floating mb-5">
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            <label for="confirm_password">Şifre Tekrarı:</label>
          </div>

        <div class="button">
          <button class="edit1 btn btn-lg " type="submit">Kayıt Ol</button>
        </div>
        
        <div class="form-group register-link button" >
          <span class="text-center mt-3">Hesabınız var mı?</span>
          <a class="edit btn" href="#loginForm">Giriş Yap</a>
        </div>


      </form>
      </div>
    </div>
  
  }

  <!-- Bootstrap JS ve jQuery -->
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
  <script>
    // Toggle between Login and Register forms
    $(document).ready(function () {
      $('.register-link a').on('click', function (e) {
        e.preventDefault();
        var targetForm = $(this).attr('href');
        $('#loginForm, #registerForm').toggle();
        $(targetForm).find('input:first').focus();
      });
    });
  </script>
</body>

</html>