.container-fluid {
    .main-content {
        margin-right: 60px;
        .d-flex {
            padding: 20px;
            .h2 {
                color: rgb(60, 103, 186);
            }
            .btn-tool {
                .btn {
                    width: 200px;
                    border: 2px solid rgb(60, 103, 186);
                    color: rgb(60, 103, 186);
                }
                .btn:hover {
                    background-color: rgb(60, 103, 186);
                    color: white;
                }
            }
        }
        .input-group {
            width: 400px;
            margin: auto;
            padding-top: 20px;
            input {
                border: 2px solid rgb(68, 46, 87, 0.72);
            }
            input:focus {
                box-shadow: 0 0 5px 3px rgba(68, 46, 87, 0.18);
            }
            button {
                background-color: rgba(68, 46, 87, 0.72);
                color: white;
            }
            button:hover {
                padding: 0 20px;
            }
        }
        .table-responsive {
            padding: 30px;
            .table {
                font-family: Arial, sans-serif;
                border:2px solid white;
                box-shadow: 6px 6px 10px 5px rgba(128, 128, 128, 0.69);
                th {
                    background-color: rgba(173, 173, 237, 0.53);
                    padding: 20px;
                    color:rgba(68, 46, 87, 0.72) ;
                }
                td {
                    padding: 15px;
                }
            }
        }
        .pagination {

            .page-link {
                border: 1px solid rgba(0, 0, 0, 0.11);
            }
            .active .page-link {
                background-color: rgba(68, 46, 87, 0.82);
                color: white;
            }
        }
    }
}